<h2>{{donut.name}}</h2>
<hr>
<figure>
	<img src="{{donut.photo}}">
	<figcaption>
		<a href="{{donut.photo_attribution}}" target="_blank">{{donut.photo_attribution}}</a>
	</figcaption>
</figure>
<hr>
<article>
	<h4>Extras:</h4>
	<ul>
		@for (extra of donut.extras; track $index) {
			<li>{{extra}}</li>
		}
	</ul>
	<p class="calories">{{donut.calories}} calories</p>
	<hr>
	<div class="row">
		<a class="btn btn-outline-primary" routerLink="/Donuts">&lt; Back</a>
		<form class="row" (submit)="addToCart()">
			<input type="number" class="form-input" [(ngModel)]="donutCount" name="count">
			<button type="submit" class="btn btn-primary btn-pulse">Add to cart</button>
		</form>
	</div>
</article>