main {
	max-width: 800px;
	margin-top: 1em;
	background-color: #fff;
	border-radius: 1em;
	box-shadow: -2px 2px 4px #0003;
	min-height: 100%;
	padding-bottom: 1em;
}

header {
	position: sticky;
	top:0px;
	background-color: #fff;
	box-shadow: 0px 2px 4px #0003;
	z-index: 1;
}

nav {
	max-width: 800px;
	margin: auto;
	align-items: center;
}

h1 {
	cursor: pointer;
}

.main {
	position: relative;
	min-height: 100vh;
	padding-bottom: 2em;
}

footer {
	max-width: unset;
	width: 100%;
	font-size: .6em;
	font-style: italic;
	padding: 5px;
	background-color: #ccc;
	margin-top: 2em;
	position: absolute;
	bottom: 0px;
	z-index: -100;
}