:host {
	text-align: center;
}

h2 {
	font-size: 3.5em;
	color: #aaa;
	font-weight: bolder;
}

a {
	display: inline;
	min-width: 200px;
}

div {
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}