/* You can add global styles to this file, and also import other style files */
body {
	background-color: #aaa;
	min-height: 100vh;
}

.btn-pulse {
    box-shadow: 0px 0px 0px 20px transparent;
    transition: box-shadow .5s;
}

.btn-pulse:active {
    box-shadow: 0px 0px 0px 0px var(--bs-btn-bg);
    transition: box-shadow 0s;
}

.btn-icon {
    font-family: "bootstrap-icons";
    padding: 0px;
    text-align: center;
}

.spread {
    display: flex;
    justify-content: space-between;
}